:root {
    --primary-color: #550101;
    --darker-primary: #3e0505;
    --primary-green: #2a7548;
    --darker-green: #1d3f2b;
    --bg-light: #f8f5f2;
    --text-dark: #222222;
    --border-color: #cccccc;
    --beige: #f7e9d8;
}

#btn_login_upmail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    margin-top: 0;
}

.login-card {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
}

.top-login {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
}

#dcs-login {
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    border: 4px solid white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#dcs-login:hover {
    transform: scale(1.05);
}

#system-name {
    font-size: 1.875rem;
    font-weight: 800;
    letter-spacing: 0.05em;
}

.system-caption {
    font-size: 0.875rem;
    color: #e5e5e5;
    margin-top: -1rem;/
}

.bottom-login {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.sign-in {
    font-size: 1.875rem;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
}

#login-upmail {
    width: 15%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    border: 1pt solid black;
}

#login-upmail:hover {
    background-color: #e4e4e4;
}

#google-icon {
    width: 1.25rem;
    height: 1.25rem;
}