:root {
    --primary-color: rgb(85, 1, 1);
    --darker-primary: rgb(62, 5, 5);
    --primary-green: #2a7548;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

section#logo-caption {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin: 5px;
}

#menu-caption {
    text-align: right;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

#menu-caption .upd {
    display: inline-block;
    margin-top: 1px;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white
}

#menu-caption .dcs {
    margin-top: -2px;
    font-size: 20px;
    font-family: 'Palatino', serif;
    color: white
}

#menu-caption .assIT {
    margin-top: 2px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.logo {
    display: flex;
    margin: 5px;
    gap: 6px;
}

#dcs,
#upd {
    width: 4rem;
    height: 4rem;
}

/* navigation panel */
section#navigation {
    display: flex;
    justify-content: space-between;
    background-color: var(--darker-primary);
    width: 100%;
    white-space: nowrap;
    min-height: 30px;
}


#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #CCC;     
}

#navigation-bar a {
    text-decoration: none;
    transition: background-color 0.5s ease;
    padding: 0.5rem 1rem;
}

#navigation-bar a:hover {
    color: #CCC;
    background-color: rgb(18, 1, 1);
}


#user-panel {
    display: flex;
    align-items: center;
    justify-content: right;
    color: #CCC;
    font-size: 10pt;
    padding-right: 1rem;
    gap: 10px;
    white-space: nowrap;
    font-weight: 500
}

/* asset page */

.asset-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    margin-top: 5rem;
    gap: 3rem;
}

.left-asset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: 10rem;
}

#search-box {
    display: flex;
    width: 85%;
}

#search-input {
    width: 100%;
    height: 3rem;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: white;
    padding: 0 1rem;
    transition: background-color 0.5s ease;
}

#search-input:focus {
    background-color: #e0dfdf;
    outline: none;
}

#search-button {
    width: 15%;
    height: 3rem;
    padding: 0 1.5rem;
    margin-left: -3rem;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--primary-green);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#search-button:hover, #apply-filter:hover {
    background-color: #24643f;
}

.table-container {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    max-width: 100rem;
    overflow-x: auto;
    border: 2pt solid black;
    border-radius: 1rem;
    background-color: rgb(247, 233, 216);
}

.asset-table {
    width: 100%;
    height: 3rem;
    background-color: rgb(247, 233, 216);
    text-align: center;
}

.asset-table th, .asset-table td {
    padding: 10px;
    border-bottom: 0.8pt solid black;
    border-collapse: collapse;

}

.asset-table tr:last-child td {
    border-bottom: none;
}

.asset-table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(247, 233, 216);
}

.right-asset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

#filter-box {
    width: 120%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2pt solid black;
    border-radius: 1rem;
    padding: 1rem 1rem;
    background-color: rgb(247, 233, 216);
    gap: 1rem;
}

#head-filter{
    font-size: 24px;
}


#body-filter{
    margin-top: 5pt;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem 3rem;
}


#left-filter, #right-filter {
    display: flex;
    flex-direction: column;
}

#export {
    height: 3rem;
    padding: 0 1.5rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#export:hover {
    background-color: rgb(69, 0, 0);
}

#apply-filter {
    height: 3rem;
    padding: 0 1.5rem;
    border-radius: 1rem;
    background-color: var(--primary-green);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#btn_login_upmail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    margin-top: 0;
}

.login-card {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
}

.top-login {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
}

#dcs-login {
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    border: 4px solid white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#dcs-login:hover {
    transform: scale(1.05);
}

#system-name {
    font-size: 1.875rem;
    font-weight: 800;
    letter-spacing: 0.05em;
}

.system-caption {
    font-size: 0.875rem;
    color: #e5e5e5;
    margin-top: -1rem;/
}

.bottom-login {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.sign-in {
    font-size: 1.875rem;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
}

#login-upmail {
    width: 15%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
}

#login-upmail:hover {
    background-color: #e4e4e4;
}

#google-icon {
    width: 1.25rem;
    height: 1.25rem;
}

/* dashboard */

.dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-family: sans-serif;
}

.dashboard-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
    gap: 1.5rem;
}

.card {
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.card h2 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
}

.card p {
    color: #555;
    font-size: 0.95rem;
}

.footer {
    margin-top: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var(--primary-color);
    color: white;
}

