# IMPORTANT! Fill in missing values of system environment variables with given credentials

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database Settings
DB_NAME=
DB_HOST=
DB_USER=
DB_PASS=

# App Settings
APP_ENV=production
APP_PORT=80
