:root {
    --primary-color: #550101;
    --darker-primary: #3e0505;
    --primary-green: #2a7548;
    --darker-green: #1d3f2b;
    --bg-light: #f8f5f2;
    --text-dark: #222222;
    --border-color: #cccccc;
    --beige: #f7e9d8;
}

#activity-log {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1100px;
  overflow-x: auto;
  box-sizing: border-box;
  background-color: var(--bg-light);
  border-radius: 12px;
  width: 100%;
}

td:last-child {
  white-space: normal;
  word-break: break-word;
}

td:nth-child(1), td:nth-child(2),
th:nth-child(1), th:nth-child(2) {
  white-space: nowrap;
  width: 1%;
  min-width: 150px;
}

td:nth-child(3), th:nth-child(3) {
  width: auto;
  min-width: 300px;
}