.asset-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.left-asset, .right-asset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex: 1 1 400px;
  min-width: 300px;
}

.left-asset {
  margin-left: 1rem;
}

.right-asset {
  width: 100%;
  max-width: 400px;
  align-items: center;
}

#addAsset {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border: 1pt solid var(--darker-primary);
  padding: 0.5rem 0.6rem;
  gap: 5pt;
  transition: background-color 0.3s ease;
}

#addAsset:hover {
  background-color: var(--border-color);
}

.asset-form, .assign-asset-form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}