.asset-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: 2rem auto;
  font-family: system-ui, sans-serif;
}

.asset-info{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-x: auto;
  white-space: normal;
  word-break: break-word;
}

.status.unused { color: #22c55e; font-weight: bold; }
.status.assigned { color: #f97316; font-weight: bold; }

#sd_url a:hover {
  text-decoration: underline;
  cursor: pointer;
}
