#filter-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1pt solid black;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--beige);
  gap: 1rem;
}

#body-filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 3.5rem;
}

#left-filter, #right-filter {
  display: flex;
  flex-direction: column;
}

#apply-filter, .generate {
  width: 50%;
  max-width: 300px;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.generate {
  background-color: var(--primary-color);
}

#apply-filter {
  background-color: var(--primary-green);
}

.generate:hover {
  background-color: rgb(69, 0, 0);
}

#apply-filter:hover {
  background-color: #24643f;
}

#apply-filter {
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-color: var(--primary-green);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

