:root {
    --primary-color: #550101;
    --darker-primary: #3e0505;
    --primary-green: #2a7548;
    --darker-green: #1d3f2b;
    --bg-light: #f8f5f2;
    --text-dark: #222222;
    --border-color: #cccccc;
    --beige: #f7e9d8;
}

section#navigation {
    display: flex;
    justify-content: space-between;
    background-color: var(--darker-primary);
    width: 100%;
    white-space: nowrap;
    min-height: 30px;
}


#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #CCC;     
}

#navigation-bar a {
    text-decoration: none;
    transition: background-color 0.5s ease;
    padding: 0.5rem 1rem;
}

#navigation-bar a:hover {
    color: #CCC;
    background-color: rgb(18, 1, 1);
}

#user-panel {
    display: flex;
    align-items: center;
    justify-content: right;
    color: #CCC;
    font-size: 10pt;
    padding-right: 1rem;
    gap: 10px;
    white-space: nowrap;
    font-weight: 500;
    text-transform: uppercase;
}

#user-panel a:hover {
    text-decoration: underline;
}