:root {
  --primary-color: #550101;
  --darker-primary: #3e0505;
  --primary-green: #2a7548;
  --darker-green: #1d3f2b;
  --bg-light: white;
  --text-dark: #222222;
  --border-color: #cccccc;
  --beige: #f7e9d8;
}

table {
  table-layout: fixed;
  background-color: var(--bg-light);
  font-family: "Source Sans Pro", sans-serif;
  border-collapse: collapse;
  width: 100%;
  z-index: 3;
}

thead {
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  position: sticky;
}

td {
  line-height: 1.4;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  padding: 5px;
  font-size: clamp(7pt, 1.5vw, 11pt);
}

th {
  padding: 5px;
  text-align: left;
  word-break: break-word;
  font-weight: 600;
  z-index: 4;
}

th span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: clamp(8pt, 2vw, 11pt);
}

tr td:first-child {
  border-left: none;
}

tr td:last-child {
  border-right: none;
}

tbody tr {
  height: 2rem;
}

tbody tr:nth-child(even) {
  background-color: #f4efea;
}

tbody tr:hover {
  background-color: var(--beige);
  transition: background-color 0.3s ease;
}

td:last-child,
th:last-child{
  width: 6em;
  min-width: 6em;
  text-align: left;
  vertical-align: middle;
}
