.table-container {
    width: 100%;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.user-table {
    width: 100%;
    min-width: 10px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.95rem;
    table-layout: fixed;
}

.user-table thead {
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    position: sticky;
    border-radius: 0.75rem;
    top: 0;
    z-index: 99999;
}

.user-table th {
    padding: 8px;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid var(--darker-primary);
    z-index: 2;
}