.user-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.left-user, .right-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex: 1 1 400px;
  min-width: 300px;
}

.left-user {
  margin-left: 1rem;
}

.right-user {
  width: 100%;
  max-width: 400px;
  align-items: center;
}

/* add user form */
#addUser {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border: 1pt solid var(--darker-primary);
  padding: 0.5rem 0.6rem;
  gap: 5pt;
  transition: background-color 0.3s ease;
}

#addUser:hover {
  background-color: var(--border-color);
}

.user-form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* format when assigning user */
.assign-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--bg-light);
  min-height: calc(100vh - 10rem);
}

.assign-user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.95rem;
}

.assign-user thead {
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  position: sticky;
  border-radius: 0.75rem;
  z-index: 99999;
}

.assign-user th {
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid var(--darker-primary);
  white-space: nowrap;
}